*{margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;box-sizing: border-box;}
body{background: #efefef;}
/* =============== Nav Section Start =============== */
nav{display: flex;align-items: center;justify-content: space-between;background: #1876f2;padding: 5px 5%;position: sticky;top: 0;z-index: 100;}
/*Nav Left Start*/
.logo{width: 160px;margin-right: 45px;cursor: pointer;}
.nav-left{display: flex;align-items: center;}
.nav-left ul li{list-style: none;display: inline-block;}
.nav-left ul li img{width: 28px;margin: 0 15px;cursor: pointer;}
/*Nav Left End*/

/*Nav Right Start*/
.nav-right{display: flex;align-items: center;}
.nav-user-icon{margin-left: 30px;}
.nav-user-icon img{width: 40px;border-radius: 50%;cursor: pointer;}
.search-box{background: #efefef;width: 350px;border-radius: 20px;display: flex;align-items: center;padding: 0 15px;}
.search-box img{width: 18px;}
.search-box input{width: 100%;background: transparent;padding: 10px;outline: none;border: 0;}
/*Nav Right End*/

/* Online Status Active Show Start */
.online{position: relative;}
.online::after{content: '';width: 7px;height: 7px;border: 2px solid #fff;border-radius: 50%;position: absolute;top: 0;right: 0;background: green;}
/* Online Status Active Show End */

/* =============== Nav Section End =============== */


/* =============== Container Section Start =============== */
.container{display: flex;justify-content: space-between;padding: 13px 5%;}
/*Left Sidebar Start*/
.left-sidebar{flex-basis: 25%;position: sticky;top: 70px;align-self: flex-start;}
.imp-links a{text-decoration: none;display: flex;align-items: center;margin-bottom: 30px;width: fit-content;color: #626262;}
.imp-links a img{width: 25px;margin-right: 15px;}
.imp-links a:last-child{color:#1876f2;}
.imp-links{border-bottom: 1px solid #ccc;}
.shortcut-links a{text-decoration: none;display: flex;align-items: center;margin-bottom: 30px;width: fit-content;color: #626262;}
.shortcut-links a img{width: 40px;border-radius: 4px;margin-right: 15px;}
.shortcut-links p{margin: 25px 0;color: #626262; font-weight: 500;}
/*Left Sidebar End*/

/* =============== Main Content Start =============== */
.main-content{flex-basis: 47%;}
/* For Story Gallery Start */
.story-gallery{display: flex;justify-content: space-between;margin-bottom: 20px;}
.story-gallery .gallery{flex-basis: 18%;padding-top: 32%;position: relative; background-position: center;background-size: cover;
    border-radius: 10px;}
.story-gallery .gallery img{position: absolute;width: 45px;border-radius: 50%;top: 10px;left: 10px;border: 5px solid #1876f2;}
.story-gallery .gallery p{position: absolute;bottom: 10px;width: 100px;text-align: center;color: #fff;font-size: 14px;}
.story-gallery .story1{background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../img/status-1.png);}
.story-gallery .story2{background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../img/status-2.png);}
.story-gallery .story3{background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../img/status-3.png);}
.story-gallery .story4{background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../img/status-4.png);}
.story-gallery .story5{background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../img/status-5.png);}
.story-gallery .story1 img{top: unset;left: 50%;bottom: 40px;transform: translateX(-50%);border: 0;width: 35px;}
/* For Story Gallery End */

/* Write Post Container Start */
.write-post-container{width: 100%;background: #fff;border-radius: 6px;padding: 20px;color: #626262;}
.write-post-container .user-profile{display: flex;align-items: center;}
.write-post-container .user-profile img{width: 45px;border-radius: 50%;margin-right: 10px;}
.write-post-container .user-profile p{margin-bottom: -5px;font-weight: 500;color: #626262;padding-bottom: 2px;}
.write-post-container .user-profile small{font-size: 12px;}
.write-post-container .post-input-container{padding-left: 55px;padding-top: 20px;}
.write-post-container .post-input-container textarea{width: 100%;border: 0;outline: 0;border-bottom: 1px solid #ccc;background: transparent;
    resize: none;}
.write-post-container .add-post-links{display: flex;margin-top: 10px;}
.write-post-container .add-post-links a{text-decoration: none;display: flex;align-items: center;color: #626262;margin-right: 30px;
    font-size: 13px;}
.write-post-container .add-post-links a img{width: 30px;margin-right: 10px;}
/* Write Post Container End */
/* Post Container Start */
.post-container{width: 100%;background: #fff;border-radius: 6px;padding: 20px;color: #626262;margin: 20px 0;}
.post-container .user-profile{display: flex;align-items: center;}
.post-container .user-profile img{width: 45px;border-radius: 50%;margin-right: 10px;}
.post-container .user-profile p{margin-bottom: -2px;font-weight: 500;color: #626262;}
.post-container .user-profile span{font-size: 13px;color: #9a9a9a;}
.post-container .post-text{color:#9a9a9a;margin: 15px 0;font-size: 15px;}
.post-container .post-text span{color: #626262;font-weight: 500;}
.post-container .post-text a{color: #1876f2;text-decoration: none;}
.post-container .post-image{width: 100%;border-radius: 4px;margin-bottom: 5px;}
.post-container .post-row{display: flex;align-items: center;justify-content: space-between;}
.post-container .post-row .activity-icons div{display: inline-flex;align-items: center;margin-right: 30px;}
.post-container .post-row .activity-icons div img{width: 18px;margin-right: 10px;}
.post-container .post-row .post-profile-icon{display: flex;align-items: center;}
.post-container .post-row .post-profile-icon img{width: 20px;border-radius: 50%;margin-right: 5px;}
.post-container .post-row a{color: #9a9a9a;}
/* Post Container End */

/* Show More Button Start */
.show-more-button{display: block;margin: auto;cursor: pointer;padding: 5px 10px;border: 1px solid #9a9a9a;color: #626262;
    background: transparent;border-radius: 5px;}
/* Show More Button End */

/* =============== Main Content End =============== */

/*Right Sidebar Start*/
.right-sidebar{flex-basis: 25%;position: sticky;top: 70px;align-self: flex-start;background: #fff;padding: 20px;border-radius: 4px;
    color: #626262;}
.sidebar-title{display: flex;align-items: center;justify-content: space-between;margin-bottom: 18px;}
.sidebar-title h4{font-weight: 600;font-size: 16px;}
.sidebar-title a{text-decoration: none;color:#1876f2;font-size: 12px;}
.right-sidebar .event{display: flex;font-size: 14px;margin-bottom: 20px;}
.right-sidebar .event .left-event{border-radius: 10px;height: 65px;width: 65px;margin-right: 15px;padding-top: 10px;text-align: center;
    position: relative;overflow: hidden;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
.right-sidebar .event .left-event span{position: absolute;bottom: 0;left: 0;width: 100%;background: #1876f2;color: #fff;font-size: 20px;
    padding: 5px 0;}
.right-sidebar .event .right-event p{font-size: 12px;padding: 5px 0;}
.right-sidebar .event .right-event i{margin-right: 3px;}
.right-sidebar .event .right-event a{text-decoration: none;font-size: 12px;color: #1876f2;}
.sidebar-ads{width: 100%;border-radius: 4px;margin-bottom: 20px;}
.right-sidebar .online-list{display: flex;align-items: center;margin-bottom: 20px;}
.online-list .online{width: 40px;border-radius: 50%;margin-right: 15px;}
.online-list .online::after{top:unset;bottom: 0;}
.online-list .online img{width: 40px;border-radius: 50%;}
/*Right Sidebar End*/

/* =============== Container Section End =============== */



/* =============== Responsive Start =============== */

@media (max-width : 900px){
    .right-sidebar{display: none;}
    .left-sidebar{display: none;}
    nav{flex-wrap: wrap;}
    .search-box{display: none;}
    .logo{width: 110px;margin-right: 20px;}
    .nav-left ul li img{width: 20px; margin: 0 8px;}
    .nav-user-icon{margin-left: 0;}
    .nav-user-icon img{width: 30px;}
    .add-post-links{flex-wrap: wrap;}
    .main-content{flex-basis: 100%;}
    .story-gallery img{width: 20px;border-width: 3px;}
    .story-gallery .gallery p{font-size: 10px;text-align: justify;}
    .story-gallery .story1 img{width: 25px;bottom: 30px;}
    .write-post-container .add-post-links a{margin-right: 12px;font-size: 9px;}
    .write-post-container .add-post-links a img{width: 16px;margin-right: 5px;}
    .write-post-container .post-input-container{padding-left: 0;}
}




/* =============== Responsive End =============== */